apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "clickhouse.data.pvc.name" . }}
  labels:
    {{- include "clickhouse.labels" . | nindent 4 }}
    {{- with .Values.chartLabels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  annotations:
    {{- with .Values.chartAnnotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ .Values.storage.dataSize | quote }}
{{- if .Values.storage.dataVolumeId }}
  volumeName: {{ include "clickhouse.data.pv.name" . }}
{{- end }}
  {{- include "datafold.storageClass" . | nindent 2 }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "clickhouse.logs.pvc.name" . }}
  labels:
    {{- include "clickhouse.labels" . | nindent 4 }}
    {{- with .Values.chartLabels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  annotations:
    {{- with .Values.chartAnnotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ .Values.storage.logSize | quote }}
{{- if .Values.storage.logVolumeId }}
  volumeName: {{ include "clickhouse.logs.pv.name" . }}
{{- end }}
  {{ include "datafold.storageClass" . | nindent 2 }}
