apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "clickhouse.xmlconfig" . }}
  {{- with .Values.chartLabels }}
  labels:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- with .Values.chartAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
data:
  overrides.xml: |-
    <yandex>
        <logger>
            <!-- on CrashLoop, set this to 1 to stream error logs to datadog -->
            <console>0</console>
        </logger>

        <!-- Docs: https://kb.altinity.com/altinity-kb-setup-and-maintenance/altinity-kb-server-config-files/ -->
        <text_log remove="1" />
        <trace_log remove="1" />
        <query_log remove="1" />
    </yandex>
