replicaCount: 1
image:
  pullPolicy: IfNotPresent
  tag: ""

imagePullSecrets:
  - name: datafold-docker-secret
nameOverride: ""
fullnameOverride: ""
terminationGracePeriodSeconds: "5"

command:
  - "./manage.py"
  - "portal"
  - "start-ws-client"

serviceAccount:
  create: true
  automount: true
  annotations: {}
  roleArn: ""
  name: "datafold-worker-portal"

podAnnotations: {}
podLabels: {}

chartLabels: {}
chartAnnotations: {}

podSecurityContext:
  runAsUser: 1000
  runAsNonRoot: true

securityContext:
  allowPrivilegeEscalation: False

resources:
  limits:
    memory: 1000Mi
  requests:
    cpu: 100m
    memory: 1000Mi

volumes: []

volumeMounts: []

nodeSelector: {}

tolerations: []

affinity: {}

initContainers: []
