{{- if .Values.ssh.createConfigMap -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "dma.names.shared-configmap" . }}
  labels:
    {{- include "dma.labels" . | nindent 4 }}
    {{- with .Values.chartLabels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with .Values.chartAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
data:
  sshd_config: |
    AllowUsers {{ .Values.dma.ssh.username }} root
    PasswordAuthentication no
    PubkeyAuthentication yes
    KbdInteractiveAuthentication no
    AllowAgentForwarding no
    AllowTcpForwarding yes
    X11Forwarding no
    PermitTTY yes
    PrintMotd no
    AcceptEnv LANG LC_*
    PermitRootLogin yes
    
    GatewayPorts yes
    Port {{ .Values.dma.ssh.port }}
    PermitOpen any
{{- end }}