apiVersion: v1
kind: Service
metadata:
  name: {{ include "dma.names.service" . }}
  labels:
    {{- include "dma.labels" . | nindent 4 }}
    {{- include "dma.templatelabels" . | nindent 4 }}
    {{- with .Values.chartLabels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with .Values.chartAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  clusterIP: None
  ports:
    - name: http
      port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.port }}
      protocol: TCP
  selector:
    {{- include "dma.selectorLabels" . | nindent 4 }}
