{{- if or (eq .Values.global.cloudProvider "gcp") (eq .Values.global.cloudProvider "azure") }}
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: kube-dns-pdb
  {{- with .Values.toplevel.labels }}
  labels:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- with .Values.toplevel.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  maxUnavailable: 1
  selector:
    matchLabels:
      k8s-app: kube-dns
{{- end }}
