apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "datafold.server.fullname" . }}
  labels:
    {{- include "server.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  progressDeadlineSeconds: {{ .Values.progressDeadlineSeconds }}
  minReadySeconds: {{ .Values.minReadySeconds }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  selector:
    matchLabels:
      {{- include "server.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        {{- include "server.datafold.annotations" . | nindent 8 }}
        {{- include "server.datadog.annotations" . | nindent 8 }}
      labels:
        {{- include "server.labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "server.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      terminationGracePeriodSeconds: {{ .Values.terminationGracePeriodSeconds }}
      initContainers:
        {{- toYaml .Values.initContainers | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.global.datafoldRepository }}/{{ .Values.global.datafoldImage }}:{{ .Values.global.datafoldVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          args: ["{{ .Values.command }}"]
          envFrom:
            - configMapRef:
                name: {{ include "datafold.configmap" . }}
          env:
            {{ include "datafold.env" . | nindent 12 }}
            - name: DATAFOLD_FRESHPAINT_FRONTEND_TOKEN
              valueFrom:
                secretKeyRef:
                  name: {{ include "datafold.secrets" . }}
                  key: DATAFOLD_FRESHPAINT_FRONTEND_TOKEN
            - name: DATAFOLD_FRESHPAINT_BACKEND_TOKEN
              valueFrom:
                secretKeyRef:
                  name: {{ include "datafold.secrets" . }}
                  key: DATAFOLD_FRESHPAINT_BACKEND_TOKEN
            - name: DATAFOLD_FRESHPAINT_URL
              valueFrom:
                secretKeyRef:
                  name: {{ include "datafold.secrets" . }}
                  key: DATAFOLD_FRESHPAINT_URL
            - name: DATAFOLD_AVO_INSPECTOR_FRONTEND_API_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ include "datafold.secrets" . }}
                  key: DATAFOLD_AVO_INSPECTOR_FRONTEND_API_KEY
            - name: DATAFOLD_INSTALL_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ include "datafold.secrets" . }}
                  key: DATAFOLD_INSTALL_PASSWORD
            - name: DATAFOLD_DATADOG_CLIENT_TOKEN
              valueFrom:
                secretKeyRef:
                  name: {{ include "datafold.secrets" . }}
                  key: DATAFOLD_DATADOG_CLIENT_TOKEN
            - name: DATAFOLD_DATADOG_APPLICATION_ID
              valueFrom:
                secretKeyRef:
                  name: {{ include "datafold.secrets" . }}
                  key: DATAFOLD_DATADOG_APPLICATION_ID
            {{- if (eq .Values.global.optional.pylon "true") }}
            - name: DATAFOLD_PYLON_APP_ID
              valueFrom:
                secretKeyRef:
                  name: {{ include "datafold.secrets" . }}
                  key: DATAFOLD_PYLON_APP_ID
            - name: DATAFOLD_PYLON_IDENTITY_SECRET
              valueFrom:
                secretKeyRef:
                  name: {{ include "datafold.secrets" . }}
                  key: DATAFOLD_PYLON_IDENTITY_SECRET
                  optional: true
            {{- end }}
            {{- if (eq .Values.global.optional.googleAuth "true") }}
            - name: DATAFOLD_GOOGLE_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: {{ include "datafold.secrets" . }}
                  key: DATAFOLD_GOOGLE_CLIENT_ID
            - name: DATAFOLD_GOOGLE_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: {{ include "datafold.secrets" . }}
                  key: DATAFOLD_GOOGLE_CLIENT_SECRET
            {{- end }}
          ports:
            - name: server
              containerPort: {{ .Values.global.server.port }}
              protocol: TCP
          livenessProbe:
            failureThreshold: 10
            httpGet:
              path: /status_check?token={{ .Values.global.statusCheckToken }}
              port: server
              scheme: HTTP
              httpHeaders:
                - name: "Host"
                  value: {{ .Values.global.serverName }}
                - name: "X-Forwarded-Proto"
                  value: https
            initialDelaySeconds: 20
            periodSeconds: 15
            successThreshold: 1
            timeoutSeconds: 5
          readinessProbe:
            failureThreshold: 10
            httpGet:
              path: /status_check?token={{ .Values.global.statusCheckToken }}
              port: server
              scheme: HTTP
              httpHeaders:
                - name: "Host"
                  value: {{ .Values.global.serverName }}
                - name: "X-Forwarded-Proto"
                  value: https
            initialDelaySeconds: 20
            periodSeconds: 15
            successThreshold: 1
            timeoutSeconds: 5
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          {{- with .Values.volumeMounts }}
          volumeMounts:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      {{- with .Values.volumes }}
      volumes:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
