{{- if .Values.global.cloudProvider -}}
{{-   if and (eq .Values.global.cloudProvider "aws") .Values.global.awsTargetGroupArn -}}
apiVersion: elbv2.k8s.aws/v1beta1
kind: TargetGroupBinding
metadata:
  name: {{ include "nginx.fullname" . }}
  labels:
    {{- include "nginx.labels" . | nindent 4 }}
    {{- with .Values.chartLabels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with .Values.chartAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  serviceRef:
    name: {{ include "nginx.fullname" . }}
    port: {{ .Values.global.nginx.port }}
  targetGroupARN: {{ .Values.global.awsTargetGroupArn }}
  targetType: instance
{{-   end }}
{{- end }}
