{{- if (eq .Values.global.cloudProvider "gcp") -}}
{{- if (eq .Values.ingress.deploy true) -}}
{{- if (eq .Values.ingress.internal false) }}
apiVersion: networking.gke.io/v1beta1
kind: FrontendConfig
metadata:
  name: {{ include "nginx.fullname" . }}
  labels:
    {{- include "nginx.labels" . | nindent 4 }}
    {{- with .Values.chartLabels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with .Values.chartAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- if .Values.ingress.sslPolicy }}
  sslPolicy: {{ .Values.ingress.sslPolicy }}
  {{- end }}
  redirectToHttps:
    enabled: true
    responseCodeName: MOVED_PERMANENTLY_DEFAULT
{{- end }}
{{- end }}
{{- end }}
