{{- if or (eq .Values.ingress.deploy true) (eq .Values.global.cloudProvider "azure") -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "nginx.fullname" . }}
  labels:
    {{- include "nginx.labels" . | nindent 4 }}
    {{- with .Values.chartLabels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  annotations:
    {{- $ingressAnnotations := include "nginx.ingress.annotations" . }}
    {{- if $ingressAnnotations }}
    {{- $ingressAnnotations | nindent 4 }}
    {{- end }}
    {{- with .Values.chartAnnotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  {{- include "nginx.ingress.class" . | nindent 2 }}
  defaultBackend:
    service:
      name: {{ include "nginx.fullname" . }}
      port:
        number: {{ .Values.global.nginx.port }}
  {{- if (eq .Values.ingress.certificateMethod "secret") }}
  {{- if .Values.ingress.tlsSecretName  }}
  tls:
  - secretName: {{ .Values.ingress.tlsSecretName }}
  {{- end }}
  {{- end }}
  rules:
  - host: {{ .Values.global.serverName }}
    http:
      paths:
      - path: /
        {{- if (eq .Values.ingress.certificateMethod "managed") }}
        pathType: Prefix
        {{- else }}
        pathType: ImplementationSpecific
        {{- end }}
        backend:
          service:
            name: {{ include "nginx.fullname" . }}
            port:
              number: {{ .Values.global.nginx.port }}
{{- end}}
