apiVersion: v1
kind: Service
metadata:
  name: {{ include "nginx.fullname" . }}
  labels:
    {{- include "nginx.labels" . | nindent 4 }}
    {{- with .Values.chartLabels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  annotations:
    {{- include "nginx.loadbalancer.annotations" . | nindent 4 }}
    {{- with .Values.chartAnnotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  ports:
  - name: http
    protocol: TCP
    port: {{ .Values.global.nginx.port }}
    targetPort: nginx
{{- include "nginx.nodeport" . | nindent 4 }}
  selector:
    app.kubernetes.io/name: {{ include "nginx.name" . }}
  sessionAffinity: None
  type: {{ include "nginx.serviceType" . }}
