replicaCount: 1

image:
  pullPolicy: Always
  tag: "1.2.11"

imagePullSecrets:
  - name: datafold-docker-secret
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  automount: true
  annotations: {}
  roleArn: ""
  name: "datafold-manager"

podAnnotations: {}
podLabels: {}

chartLabels: {}
chartAnnotations: {}

podSecurityContext:
  runAsUser: 1000
  runAsNonRoot: true

securityContext:
  allowPrivilegeEscalation: false

resources:
  limits:
    memory: 200Mi
  requests:
    cpu: 100m
    memory: 200Mi

volumes:
  - name: tmp
    emptyDir: {}

volumeMounts:
  - name: tmp
    mountPath: /tmp

nodeSelector: {}

tolerations: []

affinity: {}

initContainers: []
