apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "kept.data.pvc.name" . }}
  labels:
    {{- include "kept.labels" . | nindent 4 }}
    {{- with .Values.chartLabels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  annotations:
    {{- with .Values.chartAnnotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ .Values.storage.dataSize | quote }}
  {{ include "datafold.storageClass" . | nindent 2 }}
